body {
  font-size: 16px;
  color: #BCC6CC;
  background-color: #566D7E;
  font-family: 'Indie+Flower', serif;
}


/** HEADER **/
#header-nav {
  background-color: #2B547E;
  border-radius: 0;
  border: 0;
  padding: 30px;
}
#something {
  position: fixed;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Company name */
  font-family: 'Rubik+Maps', sans-serif;
  color: #BCC6CC;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 5px 5px 5px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-family: Comic Sans MS;
}
#nav-list a:hover {
  background: #8D918D;

}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #737CA1;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
.container .text-center {
  font-family: "Comic Sans MS";
  font-size: 40px;
  padding-top: 30px;
}
.text-center h2 {
  font-family: "Comic Sans MS";
  font-size: 10px;  
  position: fixed;
}
/* END HOME PAGE */



/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw; /
  }
}
  .head-styling {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 20px;
    padding-bottom: 20px;
  }

.container {
  width: 100%;
}
.content1 {
  padding-left:   30px;
  border: solid black 2px;
  background-color: gray;  
}
.content2 {
  padding-left:   30px;
  border: solid black 2px;
  background-color: gray;
}
.content3 {
  padding-left:   30px;
  border: solid black 2px;
  background-color: gray;
}

.title1 {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 20px;
    padding-bottom: 20px;
}

.title2 {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 20px;
    padding-bottom: 20px;
}

.title3 {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 20px;
    padding-bottom: 20px;
}

.chikenContent {
  text-align: justify;
  clear: right;
  padding: 10px;
  height: 125px;
  font-size: 15px;
  overflow: auto;
}

.beefContent {
  padding: 10px;
  text-align: justify;
  clear: right;
  height: 125px;
  overflow: auto;
}

.sushiContent {
  text-align: justify;
  clear: right;
  padding: 10px;
  height: 125px;
  overflow: auto;
}

.pad {
  padding-left: 30px;
  padding-bottom: 30px;
}

.pad1 {
  padding-left: 30px;
  padding-bottom: 30px;
}

.pad2 {
 padding-bottom: 30px;
  padding-left: 30px;
}
